{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div class="container">
    <h2>Recherchez votre véhicule</h2>

    <a href="/vehicle" class="btn btn-primary">Liste des véhicules</a>
    <a href="/login" class="btn btn-primary">Connexion</a>
    <a href="/register" class="btn btn-primary">Créer un compte</a>
    <a href="/logout" class="btn btn-primary">Déconnexion</a>
    <a href="/admin" class="btn btn-primary">Admin</a>
</div>
{% endblock %}
