{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}

{% block body %}

    <div class="container">
        <h2>Page admin</h2>

        <a href="/vehicle/create" class="btn btn-primary">Créer voiture</a>
        <a href="/vehicle/update" class="btn btn-primary">Modifier voiture</a>
        <a href="/vehicle/delete" class="btn btn-primary">Supprimer voiture</a>
        <a href="/" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}
