{% extends 'base.html.twig' %}

{% block title %}Création de véhicule{% endblock %}

{% block body %}

    <div class="container">
        <h2>Création de véhicule</h2>

        {{ form(form) }}

        <a href="/admin" class="btn btn-primary">Retour</a>
    </div>

{% endblock %}